<!doctype html>
<html>

<head>
    <title>LakeSide Hotel</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <nav style="margin-bottom:2rem;background-color:#000a12" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/hotels">
            <h2 style="font-family: 'Bangers', cursive;font-size: 2em;">
                LakeSide
            </h2>
        </a>
        <div style="color: white;" class="menu__buttom navbar-toggler" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <div class="menu__text">
                Menu
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <% if(!currentUser){ %>
                <li style="margin-right:1rem;" class="nav-item">
                    <a class="nav-link" href="/login">
                        <button type="button" class="btn btn-raised">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">
                        <button type="button" class="btn btn-raised">
                            <i class="fas fa-user-plus"></i> Register
                        </button>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/feedback">
                        <button type="button" class="btn btn-raised"> Feedback
                        </button>
                    </a>
                </li> -->
                <% } else{ %>
                <li class="nav-item dropdown">
                    <button style=" background-color: #263238;color: white;" class=" nav-link btn dropdown-toggle" href="#"
                        id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user-circle"></i>
                        <%=currentUser.username %>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/user/profile">
                            Profile
                        </a>
                        <a class="dropdown-item" href="/booked">
                            My Bookings
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/raise">
                            Raise an issue
                        </a>
                        <a class="dropdown-item" href="/feedback">
                            Feedback
                        </a>
                        <a class="dropdown-item" href="/logout">
                            Logout
                        </a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>


    <div class="container">
        <% if(error && error.length>0){ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>

        <% if(success && success.length>0){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <% } %>
    </div>