<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

</head>
<style>
    body,
    html {
        padding: 0;
        margin: 0;
        height: 100%;
    }

    .bg {
        /* The image used */
        /* background-image: url("https://hdqwalls.com/download/space-minimalism-hd-4k-1360x768.jpg"); */
        background-image: url("https://c.pxhere.com/photos/07/f3/4k_wallpaper_apple_device_cellphone_clean_computer_desk_device_earphones-1556431.jpg!d");
        background-size: cover;
        background-attachment: fixed;
        background-position: 50% 50%;
        background-repeat: no-repeat;

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        /* background-position: top; */
        /* background-repeat: no-repeat; */
    }
</style>

<body class="bg">
    <!-- <div class="container">
        <div style="margin-top:10rem" class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
    <div class="row justify-content-around">
        <div class="col-lg-6">
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="formGroupExampleInput" class="bmd-label-floating">Email Address</label>
                    <input pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                        title="Please enter the email in valid format" name="username" required type="text" class="form-control"
                        id="formGroupExampleInput">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput" class="bmd-label-floating">Password</label>
                    <input name="password" required type="password" class="form-control" id="formGroupExampleInput">
                </div>
                <div class="form-group">
                    <button style="background-color: #263238;color: white;" class="btn btn-raised btn-block">Submit!</button>
                </div>
                <div class="row justify-content-around">
                    <a style="background-color:#263238" class="btn btn-raised btn-info" href="/hotels">Go
                        Back</a>
                    <a style="background-color:#263238" class="btn btn-raised btn-info" href="/register">New
                        User?</a>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div> -->
    <h1> login page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates modi iure repudiandae excepturi odio,
        quas eos ipsam. Maxime illum, iure explicabo voluptates nostrum officia, dolor repudiandae amet hic quidem
        commodi!</p>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
<script src="../../public/javascript/main.js"></script>

<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
    crossorigin="anonymous"></script>
<script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>

</html>