<% include partials/header %>

<div class="container">
    <div class="card">
        <div class="card-header">
            Raise an issue
            <p class="alert-danger">
                Development in progress...
            </p>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="bmd-label-floating">Email address</label>
                    <input pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                        title="Please enter the email in valid format" required type="email" class="form-control" id="exampleInputEmail1">
                    <span class="bmd-help">We'll never share your email with anyone else and please enter the valid
                        email address.</span>
                </div>
                <div>
                    <label for="exampleInputEmail1">Pick your Issue</label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Adding/Editing/Deleting a Hotel
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Adding/Editing/Deleting a Comment
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Booking
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Login
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Signup
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> logout
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Other Issue
                    </label>
                </div>

                <div class="form-group">
                    <label for="exampleTextarea" class="bmd-label-floating">Additional Information</label>
                    <textarea name="response" class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                <button disabled type="submit" style="background-color:#263238" class="btn btn-raised btn-info">Submit
                    Your
                    Response</button>
            </form>
        </div>
    </div>
</div>>

<% include partials/footer %>