<% include ../partials/header %>
<div class="container">
    <div class="card">
        <div style="font-family: 'Bangers' , cursive;font-size: 1.5em;" class="card-header">
            Notifications
        </div>
        <div class="card-body">

            <%if(notificationlen === 0){ %>
            <div>
                <h4>
                    You Dont have any Notifications
                </h4>

            </div>
            <% }%>
            <% notifications.reverse().forEach(function(notification){ %>
            <div style="padding: 1rem 0.5rem;" class=" row">
                <div style="font-family: 'Acme', sans-serif;font-size: 1.5em;border-left: 0.25rem solid black" class="col-lg-8">
                    <%= notification.message %>
                </div>
                <form class="col-lg-4 del d-flex justify-content-end" action="/notification" method="POST">
                    <input hidden type="text" name="not_id" id="not_id" value="<%= notification._id %>">
                    <button class="btn btn-xs btn-danger" type="submit">Clear</button>
                </form>
            </div>
            <div class="dropdown-divider"></div>
            <% });%>

        </div>
    </div>
</div>
<% include ../partials/footer %>